<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <title>Hello World!</title>
</head>

<body>

<div id="chat">
   <div class="screen">
      <p>{{name}}</p>
      <div v-for="msg in messages">
         {{msg.name}} : {{msg.text}}
      </div>
   </div>
   <div class="text-edit">
      <input v-model="text" v-on:keyup.enter="submit" type="text">
   </div>
</div>

</body>

<script src="lib/socket.io.js"></script>
<script src="lib/vue.js"></script>
<script src="renderer.js"></script>
<script>
   
   const socket = io('http://127.0.0.1:1234');
   
   socket.on('connect', function() {

      new Vue({
         el: '#chat',
         data: {
            messages: [],
            name: Math.random().toString(36).substr(2, 5),
            text: '',
         },
         ready: function () {
            socket.on('message', (data) => {
               this.messages.push(data);
               textToSound(data.text);
            });
         },
         methods: {
            submit: function() {
               
               const message = {
                  name: this.name,
                  text: this.text
               };
   
               socket.emit('message', message);
               
               this.messages.push(message);
               this.text = '';
               
            }
         }
      });
      
   });

</script>
</html>
